<h1>Sign up!</h1>
{{#if errors}}
  <h4>{{errors}}</h4>
{{/if}}
<form action="/users" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" value="">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" value="">
  <br>
  <input type="submit" value="Sign Up">
</form>
